*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
      --colore-header:rgba(8, 11, 18, 1);
      --colore-main:rgba(20, 25, 34, 1);
      --colore-footer:rgba(40, 40, 40, 1);
      --colore-testo:rgba(255, 255, 255, 1);
      --colore-testo-left:rgba(163, 163, 163, 1);
}
body{
     font-family: 'Open Sans', sans-serif;
     
     
}
.flex-contain{
    display: flex;

}

    
.sidebar{
        width: 230px;
        background-color:rgba(0, 0, 0, 1);
        height: 1200px;
        
}
.img-logo{
        height: 40px;
        width: 40px;
        
}
.name-logo{
        color:rgba(255, 255, 255, 1);
        font-size: 23px;
        padding-left: 5px;
}
.logo{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 20px;
        padding-left: 15px;
}
.house{
        margin-top: 30px;
        border-left: 3px solid greenyellow;
}

.house span{
       color:rgba(163, 163, 163, 1);
       padding-left: 5px;
    
}
.fa-house{
        color:rgba(163, 163, 163, 1);
        font-size: 25px;
        padding-left: 10px;

}
.search{
        padding-top: 15px;
        padding-left: 15px;

}
.search span{
        color:rgba(163, 163, 163, 1);
        padding-left: 5px;
    
}
.fa-magnifying-glass{
         color:rgba(163, 163, 163, 1);
         font-size: 25px;
}
.books{
        padding-top: 15px;
        padding-left: 15px;

}
 .books span{
        color:rgba(163, 163, 163, 1);
        padding-left: 5px; 
        
}
.fa-book{
        color:rgba(163, 163, 163, 1);
        font-size: 25px;
}
.play h4{
    color: rgba(255, 255, 255, 1);
    padding-top: 20px;
    padding-left: 15px;

}
.add{
    padding-top: 15px;
    padding-left: 15px;

}
.add span{
    color:rgba(163, 163, 163, 1);
    padding-left: 5px;
    
}
.fa-plus{
    background-color:rgba(163, 163, 163, 1);
    font-size: 25px;
    padding: 8px;
}
.playlist{
    padding-top: 20px;
    padding-left: 15px;
    
    
}
.playlist h4{
    color:rgba(163, 163, 163, 1);
    padding-top: 15px;
    
}
.installa-app{
    margin-top: 530px;
    padding-left: 15px;

}
.installa-app span{
    color:rgba(163, 163, 163, 1);
    padding-left: 5px; 
    
}
.installa-app hr{
    color:rgba(163, 163, 163, 1);
    width: 90%;
    margin-top: 10px; 
    
}
.fa-circle-arrow-down{
    color:rgba(163, 163, 163, 1);
    font-size: 15px;
}
.user{
    padding-top: 5px;
    padding-left: 15px;

}
.user span{
    color:rgba(255, 255, 255, 1);
    padding-left: 5px;
    
    
}
.fa-circle-user{
    color:rgba(163, 163, 163, 1);
    font-size: 20px;
    padding-top: 15px;

}
header{
    width: 230px;
     
}
main{
    width: 1200px;
    background-color: rgba(20, 25, 34, 1);
    height: 1200px;
    
}
footer{
    height: 90px;
    width: 100vw;
    background-color: var(--colore-footer);
   
}
.button-upgrade{
    height: 80px;
    background-color: rgba(8, 11, 18, 1);
    display: flex;
    justify-content: end;
    align-items: center;

}
.button-upgrade button{
    padding: 10px;
    border-radius: 20px;
    font-size: 10px;
    background-color:rgba(20, 25, 34, 1) ;
    color: white;
    border-color:white ;
}
.info-album{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.info-album h4{
   color: var(--colore-testo-left);
   padding-left: 25px;
   font-size: 15px;
}

.played{
    padding-left: 15px;
    padding-top: 30px;
}

.played h2{
    color: var(--colore-testo);
}

.container-1{
    padding-top: 25px;
    display: flex;
    justify-content:space-evenly;
}

.col-1{
    height: 180px;
    width: 180px; 
}
.col-1 img{
    height: 180px;
    width: 180px; 
    
}
.col-1 h3{
    color: var(--colore-testo);
    padding-top: 5px;
    text-align: center;
}

.col-1 h4{
    color: var(--colore-testo);
    padding-top: 5px;
    text-align: center;
    
}
.col-1 h5{
    color: var(--colore-testo-left);
    padding-top: 5px;
    text-align: center;
    
}

.john-doe{
    padding-left: 15px;
    margin-top: 130px;
}

.john-doe h2{
    color: var(--colore-testo);
}

.john-doe h5{
    color: var(--colore-testo-left);
    padding-top: 5px;

}

.container-2{
    padding-top: 25px;
    display: flex;
     
}

.col-2{
    height: 180px;
    width: 180px; 
    margin-left: 15px;
}

.col-2 img{
    height: 180px;
    width: 180px;
    
}

.col-2 h3{
    color: var(--colore-testo);
    padding-top: 5px;
    text-align: center;
    
}
.artisti{
    padding-left: 15px;
    margin-top: 60px;
}

.artisti h2{
    color: var(--colore-testo);
}

.artisti h5{
    color: var(--colore-testo-left);
    padding-top: 5px;

}
.container-3{
    padding-top: 25px;
    display: flex;
     
}

.col-3{
    height: 180px;
    width: 180px; 
    margin-left: 15px;
}

.col-3 img{
    height: 180px;
    width: 180px;
    border-radius: 100px;
    
}

.col-3 h3{
    color: var(--colore-testo);
    padding-top: 5px;
    text-align: center;
    
}
.sinister{
    display: flex;
    align-items: center;
    width: 25%;
    padding-top: 20px;
    padding-left: 10px;
}
.info-sinister h3{
    color: var(--colore-testo);
    padding-left: 10px;
}
.info-sinister h5{
    color: var(--colore-testo-left);
    padding-left: 10px;
}
.sinister img{
    width: 50px;
    height: 50px;
}
.fa-heart{
    padding-left: 40px;
}
.fa-folder{
    padding-left: 10px;
}
.play{
    display: flex;
    justify-content: center;
    width: 50%;
    color: var(--colore-testo);
}
.icon-play i{
    padding-top: 15px;
    font-size: 20px;

}
.contain-flex2{
    display: flex;
    justify-content: space-between;
   
}
.volume{
    width: 25%;
}
.minute{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.minute hr{
    width: 100px;
    
}
.fa-backward-step{
    padding-left: 25px;
}
.fa-circle-play{
    padding-left: 25px;
}
.fa-forward-step{
    padding-left: 25px;
}
.fa-arrow-rotate-right{
    padding-left: 25px;

}




